version: "3.9"

services:
  api:
    build:
      context: ..
      dockerfile: Dockerfile
    container_name: recipe-manager-api
    command: ["uvicorn", "main:app", "--host", "0.0.0.0", "--port", "8000"]
    environment:
      UVICORN_HOST: 0.0.0.0
      UVICORN_PORT: "8000"
    ports:
      - "8000:8000"

  prometheus:
    image: prom/prometheus:v2.54.1
    container_name: recipe-manager-prometheus
    restart: unless-stopped
    depends_on:
      - api
    ports:
      - "9090:9090"
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro

  grafana:
    image: grafana/grafana:11.3.0
    container_name: recipe-manager-grafana
    restart: unless-stopped
    depends_on:
      - prometheus
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin
      GF_INSTALL_PLUGINS: grafana-piechart-panel
    ports:
      - "3001:3000"
    volumes:
      - grafana-storage:/var/lib/grafana
      - ./grafana:/etc/grafana/provisioning/dashboards

volumes:
  grafana-storage:
